:root {
    /* TEMPLATE colors */
    --main-color         : #068000;
    --hover-main-color   : #066000;
    --edit-color         : #017d8a;
    --cancel-color       : #C91A00;
    --negative-text-color: white;
}

html {
    font-family: Helvetica, Arial, sans-serif
}

body, #app {
    min-height: 100vh;
}

h1, footer {
    margin          : 0px;
    text-align      : center;
    background-color: var(--main-color);
    color           : var(--negative-text-color);
}

div {
    margin: inherit;
}

footer {
    width: 100%;
}

/* --- BUTTONS ---- */

button,
nav {
    background: var(--main-color);
    color     : var(--negative-text-color);
    border    : var(--main-color);
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top     : 0;
}

button {
    margin: 1px;
    cursor: pointer;
}


/* ----------- IMAGE --------- */

img {
    max-width : 100%;
    border    : solid 1px var(--hover-main-color);
    box-shadow: 10px 10px var(--hover-main-color);
}

/* TABLE LAYOUT */

table {
    border-collapse: collapse;
    width          : 100%;
}

td,
th {
    border : 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    cursor          : pointer;
    background-color: #ddd;
}

th {
    cursor          : default;
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: var(--main-color);
    color           : var(--negative-text-color);
}

/*------------ ROUTERLINK ------------*/

a:link,
a:visited {
    background-color: var(--main-color);
    color           : var(--negative-text-color);
    padding         : 5px 10px;
    text-align      : center;
    text-decoration : none;
    display         : inline-block;
}

a:hover,
a:active {
    background-color: var(--hover-main-color);
}